<div class="form-group">
    <label class="radio-inline">
        <input type="radio" name="sex" id="sex-male" value="male" ng-model="formData.sex"> Pan
    </label>
    <label class="radio-inline">
        <input type="radio" name="sex" id="sex-female" value="female" ng-model="formData.sex"> Pani
    </label>
</div>
<div class="form-group">
    <label for="name">Imię</label>
  <input id="name" type="text" class="form-control" placeholder="Imię" ng-model="formData.name">
</div>
<div class="form-group">
    <label for="lastName">Nazwisko</label>
  <input id="lastName" type="text" class="form-control" placeholder="Nazwisko" ng-model="formData.lastName">
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="address">Adres</label>
        <div class="col-sm-10">
            <input id="address" type="text" class="form-control" placeholder="Adres" ng-model="formData.address">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="address2">Adres c.d.</label>
        <div class="col-sm-10">
            <input id="address2" type="text" class="form-control" placeholder="Adres c.d." ng-model="formData.address2">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="post-code">Kod pocztowy</label>
        <div class="col-sm-2">
            <input id="post-code" type="text" class="form-control" placeholder="80-177" ng-model="formData.postCode">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="phone">Telefon</label>
        <div class="col-sm-2">
            <input id="phone" type="text" class="form-control" placeholder="123123123" ng-model="formData.phone">
        </div>
    </div>
</div>