<div class="radio">
    <label>
        <input name="optionsRadios" type="radio" value="USD" ng-model="formData.currency"> Dolary
        <span class="glyphicon glyphicon-usd">
    </label>
</div>
<div class="radio">
    <label>
        <input name="optionsRadios" type="radio" value="EURO" ng-model="formData.currency"> Euro
        <span class="glyphicon glyphicon-euro">
    </label>
</div>
<div class="radio">
    <label>
        <input name="optionsRadios" type="radio" value="GBP" ng-model="formData.currency"> Funty
        <span class="glyphicon glyphicon-gbp">
    </label>
</div>